body{
	margin: 0px 0px;
}
header{
	margin-top: -30px;
	height: 80px;
	background-color: #FFC0FF;
}
.he{
	font-size: 30px;
	padding-top: 19px;
	margin-left: 17px;
}
.ic{
	position: absolute;
	width: 80px;
	height: 70px;
	margin-left: 110px;
	margin-top: -74px;
}
.bus{
	position: absolute;
	width: 480px;
	padding-left: 20px;
	margin-left: 300px;
	border-radius: 16px;
	background-color: #FFC0FF;
	border-color: #75163F;
	margin-top: -53px;
}
.b{
	position: absolute;
	height: 20px;
	width: 25px;
	background-color: #75163F;
	margin-left: 800px;
	margin-top: -53px;

}
.con{
	font-size: 20px;
	position: absolute;
	margin-top: -53px;
	margin-left: 1100px;

}
nav{
	background-color: #75163F;
	height: 26px;
}
.fondo{
	height: 1598px;
	width: 1368px;
	position: absolute;
}
/*-------------------------------------------------------------------------------------------------------*/

ul{
	padding-top: 4px;
	display:flex;
	text-decoration: none;
	list-style: none;
	justify-content: space-between;
  grid-gap: 60px;
  max-width: 900px;
  margin: 0 auto;

}
.me li{
	position: relative;
}
.me a{
	display: inline-flex;
	color: white;
	text-decoration: none;
}
.me a:hover{
	background-color: #3333;
}
.dropdown-con{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: grey;
	width: 400px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	padding: 20px;
	z-index: 10;
}
.dropdown:hover .dropdown-con{
	display: block;
}
/*filas y columnas internas*/
.men-row{
	display: flex;
  justify-content: flex-start;
  grid-gap: 60px;
  max-width: 900px;
  margin: 0 auto;
}
.men-col{
	width: 22%;
}
.mem-col h3{
	font-size: 16px;
	color: #002147;
	margin-bottom: 10px;
	border-bottom: 2px solid #004080;
	padding-bottom: 5px;
}
.men-col ul{
	list-style: none;
	padding: 0;
	display: block;

}
.men-col li{
	margin: 8px 0;
	display: block;
}
.men-col a{
	color: #333;
	text-decoration: none;
}
.men-col a:hover{
	color: #004080;
	text-decoration: underline;
}
img{
	width: 50px;
	height: 50px;
	position: absolute;
	margin-bottom: 40px;
}
/*Del ultimo*/
.dropdown2:hover .dropdown-cond{
	display: block;
}
/*filas y columnas internas*/
.men-row2{
	display: flex;
  justify-content: flex-start;
  grid-gap: 60px;
  max-width: 900px;
  margin: 0 auto;
}
.men-col2{
	width: 22%;
}
.mem-col2 h3{
	font-size: 16px;
	color: #002147;
	margin-bottom: 10px;
	border-bottom: 2px solid #004080;
	padding-bottom: 5px;
}
.men-col2 ul{
	list-style: none;
	padding: 0;
	display: block;

}
.men-col2 li{
	margin: 8px 0;
	display: block;
}
.men-col2 a{
	color: #333;
	text-decoration: none;
}
.men-col2 a:hover{
	color: #004080;
	text-decoration: underline;
}
.dropdown-cond{
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	background-color: grey;
	width: 400px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	padding: 20px;
	z-index: 10;
}
.tenido-text{
	position: absolute;
	margin-left: 500px;
	margin-top: 40px;
}
.portadas{
	height: 300px;
	width: 200px;
}
.sip{
	margin-top: 330px;
	margin-left: -60px;
	width: 550px;
}
.comp{
	position: absolute;
	background-color: #75163F;
	color: white;
	height: 25px;
	width: 80px;
	margin-left: 300px;
	margin-top: -130px;
}